<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Header
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="primary" href="register" expand="full" style="font-size: 22px;">
              Register
            </ion-button>
            <span class="divider">or</span>
              <br>
            <span class="already">Already a user ?</span>

            <ion-button color="danger" href="login" expand="full" style="font-size: 22px">
              Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
