<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Registration
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Enter Your Name" type="text" label="Name"></ion-input>
          <ion-input label="email" placeholder="Enter Your Email" type="email">
          </ion-input>
            <ion-input label="Contact" placeholder="Enter Your Contact"type="number" ></ion-input>

            <ion-input label="Password" placeholder="Enter Password" type="password">
          </ion-input>
          <ion-button color="primary" expand="full">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
